/* style for cybeth.html*/
body {
    background-color: beige;
    font-style: italic;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-size: 20px;
        line-height: 30px;
        max-width: 1200px;
    margin: auto;
}

.default-para {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 200;
    font-family: imperial;
    color: #555555;


}

.marky{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    color: #121212;
    height: 76px;
    top: 28px;
    position: relative;
    margin-top: 2px;
    font-family: cheltenham;
    
}

.list
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Helvetica Neue', sans-serif;
}
.list li{
    font-weight: bolder;
    color: darkturquoise;
    font-size: 25px;

}
.list p{
     color: black;
     font-size: 15px;
}

.intro-para{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 200;
    font-family: imperial;
    color: #555555;

}
.heading1{
    text-align: center;
    font-size: 32px;

}
.heading2{
    text-align: center;
    font-size: 45px;
    
}